<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <div>
            <h1><%= message %></h1>
            <br/>
            <h2><%= error.status %></h2>
            <br/>
            <pre>
                <%= error.stack %>
            </pre>
        </div>
    </body>
</html>